<div class="component-container products">
  <h1> Products</h1>

  <div class="product-list">
<app-product
  *ngFor="let product of products"
  [product]="product"
  (productEdit)="onProductEdit($event)"
  (productRemove)="onProductRemove($event)">
</app-product>
  </div>

  <h2>Add New Product</h2>

  <form
  [formGroup]="form"
  (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline">
      <mat-label>Product Name</mat-label>
      <input
        matInput
        placeholder="Product Name"
      formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Product Description</mat-label>
      <textarea
        matInput
        placeholder="Product Description"
        formControlName="description"
      rows="6">
      </textarea>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input
        matInput
        placeholder="Price"
        formControlName="price">
    </mat-form-field>


    <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!form.valid">
      Add New Product
    </button>
  </form>
</div>
